@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 40% 100%;
    --foreground: 48 56% 5%;
    --muted: 228 12% 90%;
    --muted-foreground: 228 14% 38%;
    --popover: 48 40% 100%;
    --popover-foreground: 48 56% 5%;
    --card: 0 0% 99%;
    --card-foreground: 48 56% 4%;
    --border: 48 13% 91%;
    --input: 48 13% 91%;
    --primary: 48 96% 53%;
    --primary-foreground: 48 96% 13%;
    --secondary: 228 96% 53%;
    --secondary-foreground: 0 0% 100%;
    --accent: 228 96% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1 99% 35%;
    --destructive-foreground: 1 99% 95%;
    --ring: 48 96% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 48 44% 2%;
    --foreground: 48 31% 98%;
    --muted: 228 12% 10%;
    --muted-foreground: 228 14% 62%;
    --popover: 48 44% 2%;
    --popover-foreground: 48 31% 98%;
    --card: 48 44% 3%;
    --card-foreground: 48 31% 99%;
    --border: 48 13% 14%;
    --input: 48 13% 14%;
    --primary: 48 96% 53%;
    --primary-foreground: 48 96% 13%;
    --secondary: 228 96% 53%;
    --secondary-foreground: 0 0% 100%;
    --accent: 228 96% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1 99% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 48 96% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
